{% extends 'base.html' %}
{% block menu %}
    <p><a class="navbar-brand" href="{% url 'webapp:create_view' %}">Add Task+</a></p>


    {% if request.user.is_authenticated %}
            <p><a class="navbar-brand" href="{% url 'accounts:detail' request.user.pk %}">Hello, {{ user }}</a></p>
{#                 <p><p class="navbar-brand">Hello, {{ user }}</p>#}
                 <p><a class="navbar-brand" href="{% url 'accounts:logout' %}">log out</a></p>
             {% else %}
                 <p><a class="navbar-brand" href="{% url 'accounts:login' %}">log in</a></p>
                 <p><a class="navbar-brand" href="{% url 'accounts:create' %}">Sign Up</a></p>
             {% endif %}

{% endblock %}
{% block content %}
    <h1 class="mt-3">Products</h1>
    <div class="row">
        {% for product in products %}
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-3">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-text"><a href="{% url 'webapp:view' product.pk %}">{{ product.name }}</a>
                        </h3>
                        <p class="card-text">Product: {{ product.name }}</p>
                        <p class="card-text">Description: {{ product.description }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}