{% extends 'base.html' %}
{% load staticfiles %}
{% block menu %}
    <p><a class="navbar-brand" href="{% url 'webapp:update_view' product.pk%}">Update</a></p>
    <p><a class="navbar-brand" href="{% url 'webapp:delete_view' product.pk%}">Delete</a></p>
    <p><a class="navbar-brand" href="{% url 'webapp:review_create' product.pk%}">Create-review</a></p>
{#    <p><a class="navbar-brand" href="{% url 'webapp:review_update' product.pk%}">Update-review</a></p>#}
{% endblock %}
{% block content %}
    <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-3">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-text">{{ product.name }}</h3>
                        <p class="card-text">category: {{ product.category }}</p>
                        <p class="card-text">description: {{ product.description }}</p>
                        <p class="card-text">photo: {{ product.photo }}</p>
                        {% if product.picture %}
            <img src="{{ product.picture.url }}" alt="prod_pic" class="avatar">
        {% else %}
            <img src="{% static 'img/1234255.jpg' %}" alt="prod_pic" class="avatar">
        {% endif %}

                        {% for prod in product.products.all %}
                            <p>автор: {{ prod.author }}</p>
                            <p>отзыв: {{ prod.review }}</p>
                            <p>mail: {{ prod.author.email }}</p>
                            <p>оценка: {{ prod.assessment }}</p>
                            <p><a class="navbar-brand" href="{% url 'webapp:review_update' prod.pk%}">Update</a></p>
                            <p><a class="navbar-brand" href="{% url 'webapp:review_delete' prod.pk%}">Delete</a></p>
                            <hr>
                    {% endfor %}
                    </div>
                </div>
            </div>
    </div>
{% endblock %}
